body{
    max-height: 90vh;
    font-family: sans-serif;
    background-color: #35536e;
    color: white;
    margin: 0;
}

p{
    margin: 0 auto;
}

.text{
    display: flex;
    width: 100vw;
    height: 95vh;
    align-items: center;
    text-align: center;
    font-size: 12vh;
}

.socials{
    align-items: center;
    text-align: center;
    font-size: 20px;
}

a{
    color:white
}
a:visited{
    color:#f78c8c
}